body {
  background-color: #D2908C;
  color: #FFFFFF;
}

.main {
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.login_section {
  position: absolute;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  padding: 0 20px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

@media (max-width: 568px) {
  .login_section {
    width: 100%;
  }
}

.section {
  margin: 0 0 20px;
}

/* タイトル系 */
.app_title,
.app_desc {
  text-align: center;
}

.app_title {
  font-size: 60px;
}

@media (max-width: 568px) {
  .app_title {
    font-size: 12vw;
  }
}

/* ログインまわり */
.input_login_area {
  text-align: center;
}

.input_pass {
  width: 60%;
}