body {
  background-color: #203b4b;
  color: #ffffff;
}

.main {
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  margin: 0 0 20px;
}

/* タイトル系 */
.app_title {
  color: rgba(0 0 0 / 0);
  letter-spacing: 0.1em;
  -webkit-text-stroke: 1px #555555;
  text-shadow: 1px 1px 0 #e76b6c;
}
.app_title,
.app_desc {
  text-align: center;
}

.app_desc {
  margin: 0 0 20px;
}

/* チャット表示エリア */
.receive_chat_area {
  background-color: #ffffff;
  box-shadow: 1px 1px 4px inset #203b4b;
  color: #203b4b;
  height: calc(100vh - 162px);
  padding: 0 0 0 12px;
  overflow: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
}

.receive_chat_area::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}

.receive_chat {
  list-style-type: none;
}

/* チャット入力エリア */
.input_chat_area {
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
}

/* チャットコンテンツに余白 */
.chat_content--left {
  margin: 0 0 0 16px;
}

.edit_chat {
  max-width: 300px;
  width: 200px;
}
