body {
  background-color: #D2908C;
  color: #FFFFFF;
}

.main {
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  margin: 0 0 20px;
}

/* タイトル系 */
.app_title,
.app_desc {
  text-align: center;
}

.app_desc {
  margin: 0 0 20px;
}

/* チャット表示エリア */
.receive_chat_area {
  background-color: #FFFFFF;
  box-shadow: 1px 1px 4px inset #D2908C;
  color: #D2908C;
  height: calc(100vh - 162px);
  padding: 0 0 0 12px;
  overflow: scroll;
}

.receive_chat {
  list-style-type: none;
}

/* チャット入力エリア */
.input_chat_area {
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
}

.edit_chat {
  max-width: 300px;
  width: 240px;
}